:root{
    --base-color: rgb(15, 15, 15);
    --base-varient: black;
    --text-color: white;
    --secondary-text: white;
    --test-color: green;
     }
.lightmode{
    --base-color: white;
    --base-varient: white;
    --text-color: black;
    --secondary-text: black;
    --test-color: green;
}

#LightModeSwitch{
    height: 100px;
    width: 100px;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 10px;
}
#LightModeSwitch svg{
    fill: var(--text-color);
}
#LightModeSwitch svg:last-child{
    display: none;
}
.lightmode #LightModeSwitch svg:first-child{
    display: none;
}


.lightmode #LightModeSwitch svg:last-child{
    display: block;
}

@font-face {
    font-family: 'Mania-SpeedySpikes';
    src: url('Font/Mania-SpeedySpikes.ttf') format('truetype');
  }

@font-face {
    font-family: 'ZXSpectrum-Style7';
    src: url('Font/ZXSpectrum-Style7.ttf') format('truetype');
  }

body {background-color: var(--base-color);}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    text-align:center;
    font-family: "Mania-SpeedySpikes";}

p, dl {color:var(--text-color);
    text-align:center;
    font-size: 18px;
    font-family: "ZXSpectrum-Style7";
    letter-spacing: -10%;
    line-height: 16px;}

table {margin-left: auto;
margin-right: auto;
border: transparent;}

.BunnyButton {
    text-align:center;
  }
